body {
    background-size: cover;   /* Ensures the image covers the whole screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    height: 100vh;  /* Ensures full height */
    margin: 0;      /* Removes default margin */
    z-index: -2;
}
.content{
    margin: auto;
    padding: 0 13px 0 13px;
    display: flex;
    justify-content: center;  
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(255, 255, 255); 
    background: rgba(0, 0, 0, 0.595);
    width: 10nem;

}
.code{
    text-align: center;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0, 0.595);
    font-family: 'Fira Code', monospace;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 1px solid rgb(255, 255, 255);  
    width: 18em;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    color: aliceblue;
}
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;  /* Puts the video behind all content */
}
